<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
        form {
            border-collapse: collapse;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
        }

        div {
            border: 2px solid black;

        }

        h2 {
            text-align: center;
        }

        h3 {
            text-align: center;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div class="text-bg-dark p-3">
        <h2>YouTube PlayList Search</h2>
    </div>
    <br>
    <h3>Enter the Topic of PlayList you want to search</h3>
   

    <form class="d-flex" action="#" method="POST">
      
        <input style="border:2px solid black;" class="form-control me-2" type="text" placeholder="Search PlayList" name="pl"
           >
        <br><br>
        <button class="btn btn-dark" type="submit">Search</button>
    </form>
  












    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>